<!-- start of nav -->
<nav>
  <h3>Company Name</h3>
  <ul>
      <li routerLinkActive="bg-white"><a routerLink="home" routerLinkActive="text-black">Home</a></li>
      <li routerLinkActive="bg-white"><a routerLink="services" routerLinkActive="text-black">services</a></li>
      <li routerLinkActive="bg-white"><a routerLink="desingners" routerLinkActive="text-black">Desingners</a></li>
      <li routerLinkActive="bg-white"><a routerLink="packages" routerLinkActive="text-black">Packages</a></li>
      <li routerLinkActive="bg-white"><a routerLink="contact" routerLinkActive="text-black">Contact</a></li>
  </ul>
</nav>
<!-- end of nav -->
