<!-- start of contact section -->
<section class="contact container mt-4">
  <h2 class="sec-header">Contact.</h2>
  <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
  <div class="form">
      <div class="form-content">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
      </div>
      <div class="form-content">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
      </div>
      <div class="form-content">
          <label for="message">Message</label>
          <input type="text" name="message" id="message">
      </div>
      <button class="form-btn">Send Messages</button>
  </div>
  <div class="text-end pe-4 mt-3 " >
    <p class="c_o">By /  {{By.name}}</p>
    <p class="c_o">{{By.date}}</p>
  </div>
</section>
<footer class="container">
  Powered by <a href="https://www.w3schools.com/w3css/default.asp">W3.CSS</a>
</footer>
