/* start of contact section */
.contact p{
  margin-bottom: 20px;
}
.form-content{
  display: flex;
  flex-direction: column;
}
.form-content input{
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
}
.form-content label{
  margin-bottom: 5px;
}
.form-btn{
  width: 100%;
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 10px;
  border: none;
  font-size: 20px;
}
.form-btn:hover{
  background-color: #dfdfdf;
  color: black;
}
/* end of conatct section */
/* start of footer section */
footer{
  background-color: #f1f1f1;
  padding: 50px 0;
  padding-right: 20px;
  text-align: right;
  position: fixed;
  bottom: 0px;
}
footer a{
  color: rgb(221, 74, 6);
}
/* end of footer section */
