<!-- start of home section -->
<section class="home container pb-5 ">
  <h1>Interior Design</h1>
  <h2 class="sec-header">Showcase.</h2>
  <div class="img">
      <div class="img-box">
        <div class="img-content" data-work="Welcome">
            <img src="../../../assets/images/kitchenconcrete.jpg" alt="">
        </div>
      </div>

      <div class="img-box">
        <div class="img-content"  data-work="Welcome">
            <img src="../../../assets/images/atrium.jpg" alt="">
        </div>
      </div>
      <div class="img-box">
        <div class="img-content"  data-work="Welcome">
            <img src="../../../assets/images/livingroom.jpg" alt="">
        </div>
      </div>

      <div class="img-box">
        <div class="img-content"  data-work="Welcome">
            <img src="../../../assets/images/bedroom.jpg" alt="">
        </div>
      </div>
      <div class="img-box">
        <div class="img-content"  data-work="Welcome">
            <img src="../../../assets/images/diningroom.jpg" alt="">
        </div>
      </div>
      <div class="img-box">
        <div class="img-content"  data-work="Welcome">
            <img src="../../../assets/images/livingroom2.jpg" alt="">
        </div>
      </div>
  </div>
  <div class="text-end pe-4 mt-3 " >
    <p class="c_o">By /  {{By.name}}</p>
    <p class="c_o">{{By.date}}</p>
  </div>
</section>
<!-- end of home section -->
